 #map {
   	height: 300px;
    width: 90%;
      }
.navbar-toggle:focus {
  outline: none;
}
.location-btn{
  padding: 10px 30px;
  background: rgb(222,222,222,0.9);
}

@media(min-width: 320px)and (max-width: 420px){
  .cube-content{height:1400px; }
   
}

@media(min-width: 421px)and (max-width: 767px){
    .cube-content{height:1060px; }
}
@media(min-width: 320px)and (max-width: 767px){
   #navbar,.navbar {background:white;}

.hovereffectall {margin-top:70px;}
 #svg-content{margin-top: 30px;}
 .nav-toggle{margin-bottom:0px;margin-top:0px;padding-top:0px;padding-bottom: 0px;}
 ..navbar-header{background-color: white;}
 .navbar-toggle{
    padding:0px;
  margin-top:0px;
  margin-right:0px;
  margin-bottom:0px;
  }
  .svg-up {
    margin-top: 0px;
    margin-bottom: -7px;
    margin-left: -30px;
}
}

  @media (min-width: 768px)and (max-width: 991px) {
  .cube-content{height: 900px;}
    .we-are-top{display:block;}
    .our-values-head{margin-top: 50px;}
    //.hovereffect img {margin-top:50px;}
    .navbar-header{background-color: white;}

.navbar-toggle{
    padding:9px 10px;
  margin-top:8px;
  margin-right:15px;
  margin-bottom:8px;
  }
}
@media (min-width: 992px)and (max-width: 1140px) {
    .cube-content{height: 600px;}

  .we-are h2{
    font-size:1.6em;

  }
.navbar-toggle{
    padding:9px 10px;
  margin-top:8px;
  margin-right:15px;
  margin-bottom:8px;
  }
  .we-are{    margin-left: 60px;
    margin-top: 90px; }

    .we-are p{
    font-size:0.6em;
  }

  .scrolling{  height: 40px;}
}
@media (min-width: 1141px)and (max-width: 1200px) {
  .cube-content{height: 600px;}

.we-are h2{
    font-size:1.8em;

  }
.navbar-toggle{
    padding:9px 10px;
  margin-top:8px;
  margin-right:15px;
  margin-bottom:8px;
  }
  .we-are{margin-left:90px; margin-top:110px; }

    .we-are p{
    font-size:0.8em;
  }
  .scrolling{  height: 40px;}

}
@media (min-width: 1200px) and (max-width: 1460px) {
    .cube-content{height: 600px;}

.we-are h2{
    font-size:1.8em;

  }
  .navbar-toggle{
    padding:9px 10px;
  margin-top:8px;
  margin-right:15px;
  margin-bottom:8px;
  }
.about{margin-top:0px;}
    .we-are{margin-left:90px; margin-top:110px; }


  .scrolling{  height: 40px;}
}
@media (min-width: 1460px)and (max-width: 2000px) {
    .cube-content{height: 600px;}

.navbar-toggle{
    padding:9px 10px;
  margin-top:8px;
  margin-right:15px;
  margin-bottom:8px;
  }
    .we-are{margin-left:90px; margin-top:110px; }


  .scrolling{  height: 40px;}
}
@media (min-width: 2000px) {
  .cube-content{height: 600px;}
  .we-are-top{margin-top:100px; }

  .we-are h2,.about h2{
    font-size:2.5em;

  }
  .navbar-toggle{
    padding:9px 10px;
  margin-top:8px;
  margin-right:15px;
  margin-bottom:8px;
  }
  .scrolling{  height: 40px;}

    .we-are{margin-top:150px; margin-left: 180px; }


    .we-are p,.about p{
    font-size:1.2em;

  }
}
.scrolling{
    position: fixed;
    -webkit-transition: background 1s;
    transition: background 1s;
    background-color: white;
}
 textarea{resize: none;}
}
.fw-300{font-weight: 300;}
.btn{border-radius: 0px;}
.proj{ width:100%; height:100%;   opacity: 1;}
.proj .content{ top:100px; display: block;opacity: 1; }
.proj:hover, .proj img{ width:100%; height:100%;background: #45c0b4; opacity: 0.7;}
.selectform , .form-control{
    border-radius:0;
    border:0;
    -webkit-border-radius:0;
    -webkit-appearance: none
}
select#choice option[value="Choice Topic"]   { background-image:url(arrow.svg);   }
.footer p{padding: 5px; margin:0;}
.form-control {
	font-weight: 300;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
} 
.cube-content{position: relative; width: 100%;}
.info h3{padding-bottom: 10px; font-weight: 300; }
.info span,a,address{font-weight: 300; font-size: 1em; padding-left:30px; }
.tel-icon{ margin-top: 5px;  background:url('../images/phone-icon.svg') no-repeat;}
.address{  background:url('../images/address-icon.svg') no-repeat;}
.office{ background:url('../images/home-icon.svg') no-repeat;}
address{ margin:0;}
.tel{text-decoration:none;color: white; }
.svg-up{margin-top:0px; margin-bottom: -7px; margin-left: -50px; }
.svg-contact-up{ margin-bottom: -7px; margin-left: -50px; }
.svg-down{ position:relative; bottom: 1px; left: -6px;}
.partners{padding:70px 0px;  margin:auto; background: white; color: white; }
.team{margin-bottom: 150px;}
.projects{padding:60px 0px;  margin:auto;background: #494949; color: white; }
.notice{padding:50px 0px;  margin:auto; background: #1b9b91; color: white; }
.notice h2{ font-size: 3em;  font-weight: 300; background:url('../images/notice-icon.svg') no-repeat;}
.notice p{font-size: 0.9em; border-top: 3px solid white; margin-left:30px; margin-top: 10px;margin-bottom: 20px;}
.notice a{padding: 10px 30px; font-size: 1.2em; height:30px; background: #f7931e; color: white;}

.contact{padding:50px 0px;  margin:auto; background: #f7931e; color: white; }
.contact h2{ font-size: 2.5em;  font-weight: 300;  padding-left:30px; background:url('../images/notice-icon.svg') no-repeat;}
.contact p{font-size: 0.9em; border-top: 3px solid white; margin-left:30px; padding-top: 10px;}

.projects h3{text-align: center; font-size: 2em;  font-weight: 300;  }
.our-team{padding:0px 0px;  margin:auto; background: #f7931e; color: gray; }

.our-team h3{text-align: left; font-size: 2em;  font-weight: 300;  }
.proj-margin{margin-top:50px; }
.contact-margin{margin-top:20px; }
.projects h2{ font-size: 2em;  font-weight: 300;  background:url('../images/projects-icon.svg') no-repeat;}
.projects p{font-size: 0.9em; border-top: 3px solid #1b9b91; margin-left:0px; padding-top: 10px;}
.projects h2{ padding-left:30px; }
.projects span{color:#45c0b4;}
#our-val { transition: 1s; }
.imgsvg{background-color: black;
opacity: 0.7;}
svg:hover #our-val { fill: black; opacity: 0.6; }
.no-padd{padding:0;}
.no-pm{margin: 0;padding: 0;}
.no-margin{margin: 0;}
.our-values-head{margin-top:0px;position: relative;}
.our-values-body{top:0px;position: relative;margin-top:0px;}
.we-are h2{font-weight: 200; }
.nav-li-padd-before li a{padding: 25px 30px;  -webkit-transition:  0.5s;}
.nav-li-padd-affter li a{padding: 15px 30px;  -webkit-transition:  0.5s;}
#allcontent{display: none;}
.section{color:gray;}
.section h3{text-align: center; font-size: 2em;  font-weight: 300;  }

.section h2,.partners h2{   font-weight: 300;  background:url('../images/about-icon.svg') no-repeat;}
.section p{font-size: 0.9em; border-top: 3px solid #f7921e; margin-left:30px; padding-top: 10px;}
.section h2{ padding-left:30px; }
.section span{color:#45c0b4;}

.join{color:gray;}
.join h3{text-align: center; font-size: 2em;  font-weight: 300;  }

.join h2{ font-size: 3em;  font-weight: 300;  background:url('../images/about-icon.svg') no-repeat;}
.join p{ border-top: 3px solid #f7921e; margin-left:0px; padding-top: 30px;}
.join div{ padding-top: ; }
.no-border-color{font-size: 0.9em; }
.join h2{ padding-left:30px; }
.join span{color:#45c0b4;}
.join-padding{padding-top: 105px;}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.scroll-down{margin-left: 270px;font-size:0.7em;margin-top:40px;color:#1b9b91; }
#mtx {margin-left:-100px;}
	.path {
	  stroke-dasharray: 500;
	  stroke-dashoffset: 1000;
	  animation: dash 5s; ;
	}

	@keyframes dash {
	  from {
	    stroke-dashoffset: 500;
	  }
	  to {
	    stroke-dashoffset: 100;
	  }
	}


	@media(min-width:340px) and (max-width: 690px){
 		.logo-holder{
		display: none;
		}
		.logo-holder img{
		display: none;
		}
        }
	
	}
	.logo-holder{
	padding: 0 0px;
	display: block;

	}
	
	.header{
		background: url('../images/header-bg.png') no-repeat top center transparent;
	    background-size:cover; 
	}
	/* Navigation */
	.navbar .navbar-nav {
	  display: inline-block;
	  float: none;
	  vertical-align: top;}
	  .nav-spec{color: #2c465d; background: rgba(238, 133, 50, 0.99);}
	  .navbar-toggle {
		  width: 100%;
		  float: none;
		  margin-right: 0;
			}
	.navbar .navbar-collapse {text-align: right;}
	.nav {
	  list-style: none;
	  padding: 0;
	  margin: 0 auto;
	  opacity: 1;
	  -moz-transition: opacity 1000ms ease-in-out 3800ms;
	  -o-transition: opacity 1000ms ease-in-out 3800ms;
	  -webkit-transition: opacity 1000ms ease-in-out 3800ms;
	  transition: opacity 1000ms ease-in-out 3800ms; }
	.nav:before, .nav:after {
	    content: " ";
	    display: table; }
  	.nav:after{clear: both; }
  	/*.nav li {
    	float: left;
    	position: relative; }*/
    .nav li a{
      font-size: 2em;
      opacity: 0.9;
      color: #2c465d;
      text-decoration: none;
      text-transform: uppercase; }
    
  	.nav.hidden {opacity: 0;}
	.polygons-holder{
		position:relative;
		top:0px;}
	.nav li a:hover, {
    font-size: 14px;
    opacity: 0.9;
    color: #666;
    background:white;
    text-decoration: none;
    border-bottom: 2px solid #f7921e;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}
.active{
  font-size: 14px;
    opacity: 0.9;
    color: #666;
    background:transparent;
    text-decoration: none;
    border-bottom: 2px solid #f7921e;
}
.navbar-toggle{
  position:relative;
  float:right;
  
  background-color:transparent;
  background-image:none;
  border:1px solid transparent;
  border-radius:4px}



.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect:hover .overlay {
  background-color: rgba(48, 152, 157, 0.4);

}

.hovereffect img {
  display: block;
  position: relative;
}
.hovereffect h2 {  text-transform: uppercase;
}
.hovereffect h2,.hovereffect p {
  display: none;

  color: #fff;
  text-align: left;
  position: relative;
  //font-size: 2em;
  padding: 10px;

  padding-left: 10px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(45px);
  -ms-transform: translateY(45px);
  transform: translateY(45px);
  -webkit-transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
}
.hovereffect:hover h2 , .hovereffect:hover p {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  display: block;
   -webkit-transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
  font-weight: normal;
  margin:10px 0 0 0;
  padding: 0px;
}

.location-btn a.infos {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
}
.location-btn:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.location-btn a.info:hover,  {
  box-shadow: 0 0 5px #fff;
}


@media (min-width: 992px){
 
  .cube.mladen {
      left: 20%;
      top: 135px;
  }
  .cube.igor {
      left: 40%;
      top: 0px;
  }
  .cube.sloba {
      left: 60%;
      top: 135px;
  }
  .cube.ivo { 
      left: 40%;
      top:260px;

  }

    .cube.vukasin {
      right:0%;
      top:260px;

  }
    .cube.dejan {
      left: 4%;
      top:260px;

  }
    .cube.vladimir {
      left:60%;
      top:380px;

  }
     .cube.katarina {
      right: 0%;
      top:510px;

  }
      .cube.una {
      left: 20%;
      top:385px;

  }
  
}


.cube {
    width: 430px;
    height: 430px;
    position: absolute;
    overflow: hidden;
transition: opacity 300ms ease-in-out 0ms;
}

.profile-img .main {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 1;
}



.profile-img {
    width: 120px;
    height: 120px;
   border: 1px solid #F59231;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    margin-top: 45px;
    z-index: 4;
}

.box-left{float: left;}
.box-right{float: right;}
.info-box ul li{display: inline;
text-decoration: none;}
.info-box-social {
    width: 100%;
    height: 120px;
    border: 1px solid #F59231;
    overflow: hidden;
    position: relative;
    cursor: pointer;

}
.btn-join-us{
    border:0;
    margin-top: 30px;
    padding: 10px 40px;
    font-size: 1.2em;
    background: #f7931e;
}
.btn-join-us span{
padding-left: 10px; 
   color: white;

}

/*.info-box-social .fb , .ln{
  padding: 0px;
  top: 30px;
  background: blue;
  color: white;
  border-radius: 30%;

  position:relative;

}*/
.info-box {
    
    //transition: all .3s ease-in-out 0s;
    padding: 0 10px;
    color:white;
    text-align: left;
   border: #F59231; 

}

 .info-box p{
  color: white;
  padding-left: 10px;
  margin:0;
z-index: 10;
  font-size:1.2em;
  font-weight: 300;
  }
  .info-box-position{
    /*left: 115px;
    top: 60px;*/
      left: 105px;
      top: 150px;  
      
      position: absolute;

}
.info-box .status{padding-top:10px;color:white; font-size: 0.9em;}
.providno{opacity: 1;}

.hexagon {
  position: relative;
  width: 300px; 
 border: 1px solid white; 
padding-top: 10px;
  //height: 173.21px;
    background-color:  rgba(0,136,124,.7);
   /* border-right: 1px solid rgba(0,136,124,1);
    border-left: 1px solid rgba(0,136,124,1);
 margin: 86.60px 0; */
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;

}
/*.hexagon:before {
  bottom: 100%;
  border-bottom: 86.60px solid rgba(0,136,124,.7);

}

.hexagon:after {
  top: 100%;
  border-top: 86.60px solid rgba(0,136,124,.7);
}*/
.owl-carousel .active{border: 0px;}


.hex-img {
      position: relative;
      display: inline-block;
      width: 205px;
      height: 233px;
      overflow: hidden;
      color: #fff;
      -webkit-mask-image: url('http://i40.tinypic.com/kajqg.jpg');
      text-align: center;
      
    }
    .hex-img .content{
      height: 186px;
      width: 186px;
      margin: auto;
      margin-top: 16px;
      
    }
    .hex-img a {
      cursor: -webkit-zoom-in; cursor: -moz-zoom-in;
    }