

  #overlay{
    position: fixed; 
    width: 100%; 
    height: 100%; 
    top: 0px; 
    left: 0px; 
    background-color: #000; 
    opacity: 0.7;
    filter: alpha(opacity = 70) !important;
    display: none;
    z-index: 1000000;
    
}

#overlayContent{
    position: fixed; 
    width: 100%;
    top: 50px;
    text-align: center;
    display: none;
    overflow: hidden;
    z-index: 1000001;
}

#contentGallery{
    margin: 0px auto;
}

#imgBig, #imgSmall{
    cursor: pointer;
}
#imgBig{background-color:white;     padding:5px;
}
.explore-items{
  position: absolute;
    bottom: -30px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
    color:white;

}
.lang_switcher{padding-top: 25px;padding-left: 15px;cursor: pointer;}
.explore-text,.explore{}
.content-about{font-weight:300;padding: 0 30px;}
.social{font-weight:300;}
.f-info span{display: block;padding-top: 12px;}
.explore-text h3{margin-top: 100px;}
.f-info h4,.f-info span,.explore-text h2{font-weight:200;text-transform: uppercase;}
.f-info .text{padding-top:20px;}
.f-logo{padding-top: 10px;}
.f-info .text,.f-info h4,.f-info span{font-weight:200;color:white;}
.thumbnail{padding:3px;border: 1px solid #23527c;}
.social, .f-info{padding-top: 100px;}
.social img , .social  h4{font-weight:200;padding-left: 10px;}
.soc-text{padding-top: 100px; }
.soc-text span{display: block;}
.social h4,.social .soc-text{text-transform: uppercase;color:white;padding-bottom: 30px;}
.about, .gallery, .book, .sponsors{
  font-weight:300;
  margin-top:100px;
  height: auto;
  text-align:
  center;
}
.about h2, .gallery h2, .book h2,.sponsors h2{
  text-transform: uppercase;
  color: #2c465d;
  margin-bottom: 30px;
  font-weight: 300;
   text-align: center; font-size: 3em; z-index: 2;position: relative;}
  

  .book .box-bg{
    background: url('../images/contact-bg.png');
    background-repeat: no-repeat;
    z-index: 2;
    width:340px;
    height:100px;
    position:relative;
  }

  .about .box{padding:40px;}
  .about .box,.book .box{ background: #ee8532; text-align: left; color:white;}
  .about .box img{
    width: 415px;
    position: absolute;
    z-index: 1;
  }  
  @media screen and (min-width: 1200px){
    .about .box img{
      top: -212px;left:-5px;
    }
  #bg {height:600px;}

    form{padding:100px 0px 30px 50px}
    .soc-text{padding-left:200px;}

  } 
  @media screen and (min-width: 991px) and (max-width: 1200px){
    .about .box img{
      top: -109px;left:-5px;
    }
      #bg {height:500px;}

    form{padding:100px 0px 30px 50px}
    .soc-text{padding-left:150px;}
  }
  @media screen and (min-width: 768px) and (max-width: 991px){
    .about .box img{
      top: 24px;left:-5px;
    }
          #bg {height:400px;}

    .nav-spec{background: white;}
    form{padding:100px 0px 30px 50px}

    .soc-text{padding-left:80px;}

  }  
  @media screen and (min-width: 240px) and (max-width: 768px){
    .about .box img{
      top: 35px;left:-5px;
    }
    .nav-spec{background: white;}
          #bg {margin-top: 120px;}

    form{padding:100px 35px 30px 35px}
    .sponsors{margin-top: 400px;}
    #about_image{
      //display: none;
    }
  }  
   .box p{padding:25px 0 0 0px; font-size: 1.4em;}
  .btn-about{ text-transform: uppercase;padding:5px 10px;background:  #2c465d; text-align: left; color:white;}
  .about .btn-about {width:120px; text-align: center;}
  .book .btn-about {width:170px; color:white; }
  //.btn-about:hover, .btn-about {width:100%;color:white; }
  .video{ height: 1000px; background-image:url('../images/header-1.png'); background-size: cover;}
  .gallery{height: 400px; background-color: white;}
  .sponsors{ height:300px;}
  .book{ height: 550px; }
  .book p{padding-bottom: 50px;}
  .footer{min-height: 500px; background-color: #2D475C;}
  .bord-top{width:100%;background-image:url('../images/footer-bg.png'); height: 140px;background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    top: 5px;
    margin: 0px auto 0 auto;
    position: relative;
    z-index: 99;
    clear: both;}
  .fullwidth {padding:0!important;margin:0!important;}
  #logo, #logo-small{margin-top:10px; }


  /* Navigation */
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;}
    .nav-spec{color: #2c465d; background: rgba(255, 255, 255, 0.69);}
    /*background: rgba(238, 133, 50, 0.99)*/
    .navbar-toggle {
      width: 100%;
      float: none;
      margin-right: 0;
      }
  .navbar .navbar-collapse {text-align: right;}
  .nav {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    opacity: 1;
    -moz-transition: opacity 1000ms ease-in-out 3800ms;
    -o-transition: opacity 1000ms ease-in-out 3800ms;
    -webkit-transition: opacity 1000ms ease-in-out 3800ms;
    transition: opacity 1000ms ease-in-out 3800ms; }
  .nav:before, .nav:after {
      content: " ";
      display: table; }
    .nav:after{clear: both; }
    /*.nav li {
      float: left;
      position: relative; }*/
      
    .nav li a{
      font-size: 1.4em;
      padding-top:25px;
      opacity: 0.9;
      color: #2c465d;
      text-decoration: none;
      text-transform: uppercase; }
    
    .nav.hidden {opacity: 0;}
  .polygons-holder{
    position:relative;
    top:0px;}
  .nav li a:hover, {
    font-size: 14px;
    opacity: 0.9;
    color: #666;
    background:white;
    text-decoration: none;
    border-bottom: 2px solid #f7921e;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}
.active{
  font-size: 14px;
    opacity: 0.9;
    color: #666;
    background:transparent;
    text-decoration: none;
    border-bottom: 2px solid #f7921e;
}
.navbar-toggle{
  position:relative;
  float:right;
  
  background-color:transparent;
  background-image:none;
  border:1px solid transparent;
  border-radius:4px}

#lightbox .modal-content {
    display: inline-block;
    text-align: center;   
}

#lightbox .close {
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    padding: 0px 6px 5px 7px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    top: -15px;
    right: -55px;
    
    z-index:1032;
}
.cloud{padding: 10px 10px 0 0;}
.thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    //height: 85px;
  }

